Student.xsd.txt

<?xml version = "1.0" encoding = "utf-8"?>
<xs:schema attributeFormDefault = "unqualified" elementFormDefault = "qualified" xmlns:xs = "http://www.w3.org/2001/XMLSchema">
   <xs:element name = "student">
      <xs:complexType>
         <xs:sequence>
            <xs:element name = "age" type = "xs:unsignedByte" />
            <xs:element name = "name" type = "xs:string" />
         </xs:sequence>
         <xs:attribute name = "id" type = "xs:unsignedByte" use = "required" />
      </xs:complexType>
   </xs:element>
</xs:schema>